.container {
   height: 100%;
}
.arrows {
   display: flex;
   justify-content: space-between;
}

.ImagePane {
   display: flex;
   margin-top: 40px;
}
.userboxImage {
   height: 30px;
   width: 30px;
   border: 1px solid rgb(255, 255, 255);
   border-radius: 50px;
   overflow: hidden;
}
.userbox {
   display: flex;
   margin-top: 60px;
   padding: 10px;
   margin-bottom: 80px;
}
.name {
   color: rgb(172, 172, 172);
   font-size: 15px;
   padding: 10px;
   margin-top: -3px;
   width: 100px;
   /* margin-left: 4px; */
}
.imageBox {
   /* border:2px solid red; */
   height: "auto";
   flex: 0.8;
   margin: auto;
   padding: 20px;
   border-right: 1px solid gray;
   border-bottom: 1px solid gray;
}
.subImages {
   margin: 50px;
}
.slideBox {
   align-self: center;
   width: 90%;
   margin: auto;

   padding: 10px;
   display: flex;
   flex: 1;
   height: auto;
}
.selectColor {
   margin-left: 5px;
   color: white;
   font-size: 18px;
   margin-top: -40px;

   /* padding: 5px; */
}
.dot {
   color: white;
   /* font-size: 10px; */
   font-weight: bold;
}
.textL {
   padding: 5px;
   font-size: 10px;
   color: white;
   margin-top: 18px;
}
.textEL {
   padding: 5px;
   font-size: 15px;
   margin-top: 13px;
   color: white;
}
.title {
   color: white;
}
#sizeGuide {
   margin-left: 10px;
   color: red;
}

.description {
   margin: 10px;
   margin-top: 20px;
   font-size: 18sepx;
   color: white;
}
#titleId {
   margin-top: 70px;
}
.detailsTitle {
   /* border: 1px solid gray; */
   width: 150px;
   float: right;
   height: 100px;
   margin-top: -50px;
   margin-left: 50px;
}
.detailsTitle {
   /* border: 1px solid gray; */
   width: 150px;
   float: right;
   height: 100px;
   margin-left: 65%;
   position: absolute;
   display: none;
   margin-top: 10px;
}
.userboxImage {
   height: 30px;
   width: 30px;
   border: 1px solid rgb(255, 255, 255);
   border-radius: 50px;
   overflow: hidden;
}
.userbox {
   display: flex;
   margin-top: 60px;
   padding: 10px;
}
.name {
   color: rgb(172, 172, 172);
   font-size: 15px;
   padding: 10px;
   margin-top: -3px;
   width: 100px;
   /* margin-left: 4px; */
}
.butt {
   margin: 10px;
   padding: 10px;
   background: none;
   width: 100px;
   color: white;
   border-color: none;
   border: none;
}
.optionContainer {
   border: 1px solid gray;
   width: max-content;
   margin: 10px;
}

.oval {
   border: 1px solid gray;
   align-items: center;
   margin: 5px;
   border-radius: 10px;
   font-size: 8px;
   padding: 5px;
   width: 30px;
   height: 20px;
   text-align: center;
   justify-content: center;
   color: gray;
   margin-top: -15px;
}
#green {
   background: #04a38e;
   color: white;
   border: 1px solid #04a38e;
}

#grey {
   background: #d5cfc7;
   color: white;
   border: 1px solid #d5cfc7;
}

.listItems {
   display: flex;
   margin-top: -35px;
}

.listItems2 {
   display: flex;
   margin-top: -10px;
   margin: 5px;
   position: absolute;
}
.box {
   display: flex;
   flex: 1;
}
@media screen and (max-width: 758px) {
   .detailsTitle {
      display: block;
   }

   .box {
      display: flex;
      flex-direction: column;
      flex: 1;
   }
   .container {
      flex-wrap: wrap;
   }
}
